<!-- templates/guardian/guardian_dashboard.html -->

{% extends 'guardian/base.html' %}
{% load static %}
{% block content %}
    

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            
                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Welcome !</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Welcome !</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-3 col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                {% comment %} <span class="text-muted mb-3 lh-1 d-block text-truncate">Category</span> {% endcomment %}
                                                <h4 class="mb-3">Category
                                                    {% comment %} $<span class="counter-value" data-target="354.5">0</span>k {% endcomment %}
                                                </h4>
                                                <div class="text-nowrap">
                                                    <a href=""> <span class="badge bg-success-subtle text-success">Add</span><a>
                                                        <a href=""><span class="ms-1 text-muted font-size-13">View</span></a>
                                                </div>
                                            </div>
        
                                            <div class="flex-shrink-0 text-end dash-widget">
                                                <div id="mini-chart1" data-colors='["--bs-primary", "--bs-success"]' class="apex-charts"></div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            <div class="col-xl-3 col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                {% comment %} <span class="text-muted mb-3 lh-1 d-block text-truncate">Category</span> {% endcomment %}
                                                <h4 class="mb-3">Collection point
                                                    {% comment %} $<span class="counter-value" data-target="354.5">0</span>k {% endcomment %}
                                                </h4>
                                                <div class="text-nowrap">
                                                    <a href=""> <span class="badge bg-success-subtle text-success">Add</span><a>
                                                        <a href=""><span class="ms-1 text-muted font-size-13">View</span></a>
                                                </div>
                                            </div>
        
                                            <div class="flex-shrink-0 text-end dash-widget">
                                                <div id="mini-chart2" data-colors='["--bs-primary", "--bs-success"]' class="apex-charts"></div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            <div class="col-xl-3 col-md-6">
                                <!-- card -->
                                <div class="card card-h-100">
                                    <!-- card body -->
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                {% comment %} <span class="text-muted mb-3 lh-1 d-block text-truncate">Category</span> {% endcomment %}
                                                <h4 class="mb-3">Donation Requests
                                                    {% comment %} $<span class="counter-value" data-target="354.5">0</span>k {% endcomment %}
                                                </h4>
                                                <div class="text-nowrap">
                                                    <a href=""> <span class="badge bg-success-subtle text-success">View</span><a>
                                                        
                                                </div>
                                            </div>
        
                                            <div class="flex-shrink-0 text-end dash-widget">
                                                <div id="mini-chart3" data-colors='["--bs-primary", "--bs-success"]' class="apex-charts"></div>
                                            </div>
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                            
                        </div><!-- end row-->
                    </div>
                </div>

                
{% endblock  %}
